{% extends 'base_main.html'%}
{% block title %}
    头部
{% endblock %}

{% block extCSS %}
    <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
{% endblock %}

{% block extJS %}
    {{ block.super }}
    <script type="text/javascript" src="/static/js/public.js"></script>
{% endblock %}

{% block indexbody %}
    <!-- 头部 -->
	<div class="head">
		<div class="headL">
			<img class="headLogo" src="/static/img/logLOGO.png"/>
		</div>
		<div class="headR">
			<span style="color:#FFF">欢迎：{{ user.username }} </span> <a href="{% url 'user:logout' %}" rel="external">【退出】</a>
		</div>
	</div>
{% endblock %}
