{% extends 'base.html' %}

        {% block title %}
            首页 {{ user.username }}
        {% endblock %}

{% block indexbody %}
    <frameset rows="100,*" cols="*" scrolling="No" framespacing="0"
	frameborder="no" border="0"> <frame src="{% url 'app:head' %}"
	name="headmenu" id="mainFrame" title="mainFrame">
    <!-- 引用头部 -->
<!-- 引用左边和主体部分 -->
    <frameset rows="100*" cols="220,*" scrolling="No"
	framespacing="0" frameborder="no" border="0"> <frame
	src="{% url 'app:left' %}" name="leftmenu" id="mainFrame" title="mainFrame">
<frame src="{% url 'app:grade' %}" name="main" scrolling="yes" noresize="noresize"
	id="rightFrame" title="rightFrame"></frameset></frameset>
    {% endblock %}
