{% extends 'base_main.html' %}
{% block title %}
    首页左侧导航
{% endblock %}
{% block extCSS %}
    <link rel="stylesheet" type="text/css" href="/static/css/public.css" />
{% endblock %}

{% block extJS %}
   {{ block.super }}
    <script type="text/javascript" src="/static/js/public.js"></script>
{% endblock%}

{% block indexbody %}
    <!-- 左边节点 -->
	<div class="container">

		<div class="leftsidebar_box">
			<a href="main.html" target="main"><div class="line">
					<img src="/static/img/coin01.png" />&nbsp;&nbsp;首页
				</div></a>

			<dl class="system_log">
                {% for permission in user.role.r_p.all %}
                {% ifequal permission.p_en 'GRADELIST' %}
                    <dt>
                        <img class="icon1" src="/static/img/coin03.png" /><img class="icon2"
                            src="/static/img/coin04.png" /> 班级管理<img class="icon3"
                            src="/static/img/coin19.png" /><img class="icon4"
                            src="/static/img/coin20.png" />
                    </dt>
                    <dd>
                        <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                            src="/static/img/coin222.png" /><a class="cks" href="{% url 'app:grade' %}"
                            target="main">班级列表</a><img class="icon5" src="/static/img/coin21.png" />
                    </dd>
                    {% endifequal %}
                    {% endfor %}

                    {% for permission in user.role.r_p.all %}
                    {% ifequal permission.p_en 'GRADEADD' %}
                    <dd>
                        <img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
                            src="/static/img/coin222.png" /><a class="cks" href="{% url 'app:addgrade' %}"
                            target="main">班级添加</a><img class="icon5" src="/static/img/coin21.png" />
                    </dd>
                </dl>
                {% endifequal %}
                {% endfor %}

			<dl class="system_log">
                {% for permission in user.role.r_p.all %}
                    {% ifequal permission.p_en 'STUDENTLIS' %}
				<dt>
					<img class="icon1" src="/static/img/coin03.png" /><img class="icon2"
						src="/static/img/coin04.png" /> 学生管理<img class="icon3"
						src="/static/img/coin19.png" /><img class="icon4"
						src="/static/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
						src="/static/img/coin222.png" /><a class="cks" href="{% url 'app:student' %}"
						target="main">学生列表</a><img class="icon5" src="/static/img/coin21.png" />
				</dd>
                    {% endifequal %}
                {% endfor %}

                {% for permission in user.role.r_p.all %}
                {% ifequal permission.p_en 'STUDENTADD' %}

				<dd>
					<img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
						src="/static/img/coin222.png" /><a class="cks" href="{% url 'app:addstu' %}"
						target="main">添加学生</a><img class="icon5" src="/static/img/coin21.png" />
				</dd>
                {% endifequal %}
                {% endfor %}

			</dl>
			<dl class="system_log">
				<dt>
					<img class="icon1" src="/static/img/coinL1.png" /><img class="icon2"
						src="/static/img/coinL2.png" /> 系统管理<img class="icon3"
						src="/static/img/coin19.png" /><img class="icon4"
						src="/static/img/coin20.png" />
				</dt>
				<dd>
					<img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
						src="/static/img/coin222.png" /><a href="changepwd.html"
						target="main" class="cks">修改密码</a><img class="icon5"
						src="/static/img/coin21.png" />
				</dd>

				<dd>
					<img class="coin11" src="/static/img/coin111.png" /><img class="coin22"
						src="/static/img/coin222.png" /><a class="cks" href="{% url 'user:logout' %}">退出</a><img
						class="icon5" src="/static/img/coin21.png" />
				</dd>
			</dl>

		</div>

	</div>
{% endblock %}

