footer .home span {
    background: url(/static/img/home_selected.png) no-repeat;
    background-size: 0.513889rem;
}


.home dl dd {
    color: orange;
}

#home {
    padding: 1.5rem 0;
    font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding-bottom: 3rem;
    position: fixed;
}

/*
            轮播样式
*/
#topSwiper {
    height: 3.95rem;
    width: 10rem;
    overflow: hidden;
}

#topSwiper div a {
    display: inline-block;
    height: 3.95rem;
    width: 10rem;
}

#topSwiper img {
    width: 100%;
    height: 100%;
}

/*
    导航快
*/


.topMenu {
    padding-bottom: 0.26rem;
}

.topMenu nav {
    margin: 0.35rem 0 0.26rem;
    background: white;
}

.topMenu nav ul {
    display: flex;
}

.topMenu nav li {
    width: 2.5rem;
    text-align: center;
    font-size: 0.35rem;
}

.topMenu nav li img {
    width: 2.5rem;
}

/*
    必购
*/

#swiperMenu {
    width: 100%;
}


/*#swiperMenu li{*/
  /*width:3.333333rem*/
/*}*/

#swiperMenu li img {
    width: 100%;
}

/*
    商店
*/


.CVS {
    background: white;
}

.CVS h2 img {
    width: 100%;
}



.CVS fieldset {
    border: none;
    padding: 0;
}

.CVS fieldset > a {
    display: inline-block;
    width: 49%;
}

.CVS fieldset img {
    width: 100%;
}



.CVS ul {
    display: flex;
}

.CVS ul li {
    width: 2.5rem;
    text-align: center;
    font-size: 0.35rem;
}

.CVS ul li img {
    width: 2.5rem;
}




.CVS ol {
    display: flex;
    flex-wrap: wrap;
}

.CVS ol li {
    list-style: none;
    width: 5rem;
}

.CVS > ol a {
    display: block;
}

.CVS ol a img {
    width: 100%;
}


/*
    主要信息
*/

.mainInfo {
    background-color: white;
}

.mainInfo > section {
    margin: 0.2rem auto 0;
    padding: 0.2rem 0;
    width: 9.2rem;
}

.mainInfo > section h3 {
    text-align: center;
    height: 1.2rem;
    position: relative;
}

.mainInfo > section h3 a {
    color: grey;
    font-size: 0.3rem;
    line-height: 0rem;
    position: absolute;
    right: 0.1rem;
    display: block;
}

.mainInfo > section h3 > span {
    background-color: yellow;
    width: 0.6rem;
    height: 0.1rem;
    position: absolute;
    bottom: 0.25rem;
    left: 4.3rem;
}

.mainInfo > section > div > a > img {
    width: 100%;
}


.mainInfo > section > ul {
    display: flex;
    justify-content: space-around;
}

.mainInfo > section > ul > li {
    width: 2.6rem;
    position: relative;
}

.mainInfo > section > ul > li > a {
    font-size: 0.4rem;
    color: red;
    display: block;
}

.mainInfo > section > ul > li > a > img {
    width: 100%;
}

.mainInfo > section > ul > li > a > s {
    color: grey;
    font-size: 0.3rem;
}

.mainInfo .description {
    font-size: 0.37rem;
    color: black;
    width: 100%;
    display: block;
    line-height: 1.2em;
    height: 2.4em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.mainInfo > section > ul > li > button {
    border: 1px solid lightgrey;
    border-radius: 1111px;
    width: 0.6rem;
    height: 0.6rem;
    display: block;
    line-height: 0.0rem;
    text-align: center;
    color: orangered;
    font-size: 0.6rem;
    position: absolute;
    right: 0;
    top: 3.6rem;
    background: white;
}

.mainInfo > section > ul > li > button > span {
    position: relative;
    top: -0.05rem;
    margin: auto;
}