html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eee;
}

header, footer {
    width: 100%;
    height: 1.5rem;
    font-size: 0.277777rem;
    border-top: 1px solid #f0f0f0;
    z-index: 10;
    position: fixed;
    display: flex;
}

header {
    background: yellow;
    top: 0;
    left: 0;
}

footer {
    background: #fff;
    bottom: 0;
    left: 0;
}

footer a {
    display: block;
    width: 25% !important;
    text-align: center;
    overflow: hidden !important;
}

footer dl dt {
    height: 0.777777rem;
    padding-top: 0.22222rem;
    position: relative;
}

footer dl dt span {
    display: inline-block;
    width: 0.513889rem;
    height: 0.513889rem;
}

footer dl dd {
    width: 100%;
    height: 0.708333rem;
}

footer .home span {
    background: url(/static/img/home.png) no-repeat;
    background-size: 0.513889rem;
}

footer .market span {
    background: url(/static/img/market.png) no-repeat;
    background-size: 0.513889rem;
}

footer .cart span {
    background: url(/static/img/cart.png) no-repeat;
    background-size: 0.513889rem;
}

footer .mine span {
    background: url(/static/img/mine.png) no-repeat;
    background-size: 0.513889rem;
}

a {
    text-decoration: none
}

a:link {
    text-decoration: none
}

a:visited {
    text-decoration: none
}

a:hover {
    text-decoration: none
}

a:active {
    text-decoration: none
}


