{% extends 'base.html' %}
{% load static %}


{% block content %}

    <h3>待付款订单列表</h3>

    <ul>
        <!--订单信息展示-->
            <li>
                <a href="">
                    <p><!-- 订单id --></p>
                    <p><!-- 数量 --></p>
                        <!--展示商品的名称-->
                        <li>
                            <img src="" alt="">
                        </li>
                        <!--处理结束-->
                </a>
            </li>
        <!--订单处理结束-->


    </ul>


{% endblock %}
